<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NewVersionVisibleTitle</key>
	<string>Retroactive 1.3 contains the following features and is available for download.</string>
	<key>NewVersionChangelog</key>
	<string>• Adds support for modifying Final Cut Pro 7, Logic Pro 9, and Keynote ’09 to be compatible with macOS Mojave and macOS High Sierra</string>
	<key>NewVersionVisibleTitlezhHans</key>
	<string>新版本解印 1.3 包含如下功能，现已提供下载: </string>
	<key>NewVersionChangelogzhHans</key>
	<string>• 支持修改 Final Cut Pro 7、Logic Pro 9 和 Keynote ’09 以兼容 macOS Mojave 和 macOS High Sierra</string>
	<key>NewVersionVisibleTitlezhHant</key>
	<string>新版本解印 1.3 包含如下功能，現已提供下載:</string>
	<key>NewVersionChangelogzhHant</key>
	<string>• 支持修改 Final Cut Pro 7、Logic Pro 9 和 Keynote ’09 以兼容 macOS Mojave 和 macOS High Sierra</string>
	<key>LatestZIP</key>
	<string>https://github.com/cormiertyshawn895/Retroactive/releases/download/1.3/Retroactive.1.3.zip</string>
	<key>LatestBuildNumber</key>
	<integer>14</integer>
	<key>SupportPathURL</key>
	<string>https://raw.githubusercontent.com/cormiertyshawn895/Retroactive/master/Retroactive/Support/SupportPath.plist</string>
	<key>ReleasePage</key>
	<string>https://github.com/cormiertyshawn895/Retroactive/releases</string>
	<key>SourcePage</key>
	<string>https://github.com/cormiertyshawn895/Retroactive</string>
	<key>NewIssuePage</key>
	<string>https://github.com/cormiertyshawn895/Retroactive/issues/new</string>
	<key>IssuesPage</key>
	<string>https://github.com/cormiertyshawn895/Retroactive/issues?q=</string>
	<key>WikiPage</key>
	<string>https://github.com/cormiertyshawn895/Retroactive/wiki</string>
	<key>iTunes129ExpectedName</key>
	<string>InstallESDDmg.pkg</string>
	<key>iTunes129CatalogURL</key>
	<string>https://swscan.apple.com/content/catalogs/others/index-10.14-10.13-10.12-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog.gz</string>
	<key>iTunes129DownloadIdentifier</key>
	<string>061-26589</string>
	<key>iTunes129URL</key>
	<string>http://swcdn.apple.com/content/downloads/17/32/061-26589-A_8GJTCGY9PC/25fhcu905eta7wau7aoafu8rvdm7k1j4el/InstallESDDmg.pkg</string>
	<key>iTunes107URL</key>
	<string>http://appldnld.apple.com/iTunes10/041-7195.20120912.d3uzQ/iTunes10.7.dmg</string>
	<key>iTunes126URL</key>
	<string>https://secure-appldnld.apple.com/itunes12/091-87821-20180912-69177170-B085-11E8-B6AB-C1D03409AD2A/iTunes12.6.5.dmg</string>
	<key>ApertureDive</key>
	<string>https://medium.com/@cormiertyshawn895/deep-dive-how-does-retroactive-work-95fe0e5ea49e</string>
	<key>iPhotoDive</key>
	<string>https://medium.com/@cormiertyshawn895/deep-dive-how-does-retroactive-work-95fe0e5ea49e</string>
	<key>iTunes129Dive</key>
	<string>https://forums.macrumors.com/threads/itunes-12-6-5-3-on-macos-catalina-10-15.2184518/page-4?post=27843550#post-27843550</string>
	<key>iTunes126Dive</key>
	<string>https://forums.macrumors.com/threads/itunes-12-6-5-3-on-macos-catalina-10-15.2184518/page-4?post=27807492#post-27807492</string>
	<key>iTunes107Dive</key>
	<string>https://forums.macrumors.com/threads/how-to-safely-re-install-itunes-10-7-in-mavericks.1667115/</string>
	<key>iWork09DVD</key>
	<string>https://archive.org/download/691-6324-A2ZiWork_09_v9.0._Install_DVD_DVD/691-6324-A%2C2Z%2CiWork%20%2709%20v9.0.%20Install%20DVD%20%28DVD%29.iso</string>
	<key>iWork09DVDCN</key>
	<string>https://www.baidu.com/s?wd=iWork%2009%20Mac</string>
	<key>iWork09Update</key>
	<string>https://support.apple.com/kb/DL1563</string>
	<key>MainStageUpdate</key>
	<string>https://support.apple.com/kb/dl1393</string>
	<key>LogicDVD</key>
	<string>https://www.ebay.com/sch/i.html?_nkw=Logic+Pro+9</string>
	<key>LogicDVDCN</key>
	<string>https://www.baidu.com/s?wd=Logic%20Pro%209</string>
	<key>LogicUpdate</key>
	<string>https://support.apple.com/kb/dl1601</string>
	<key>FCPDVD</key>
	<string>https://www.ebay.com/sch/i.html?_nkw=Final+Cut+Pro+7</string>
	<key>FCPDVDCN</key>
	<string>https://www.baidu.com/s?wd=Final%20Cut%20Pro%207</string>
	<key>FCPUpdate</key>
	<string>https://download.info.apple.com/Mac_OS_X/061-8474.20100915.wtoKR/ProApplicationsUpdate2010-02.dmg</string>
</dict>
</plist>
